// BEGIN PAGE TITLE
.page-title
    h1
        i(ng-class='$state.current.data.pageTitleIcon')
        span(data-ng-bind='$state.current.data.pageTitle')
        small(data-ng-bind='$state.current.data.pageSubTitle')
// END PAGE TITLE
// BEGIN PAGE TOOLBAR
.page-toolbar
    // BEGIN THEME PANEL
    .btn-group.btn-theme-panel
        a.btn.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
            i.icon-settings
        .dropdown-menu.theme-panel.pull-right.dropdown-custom.hold-on-click
            .row
                .col-md-4.col-sm-4.col-xs-12
                    h3 THEME
                    ul.theme-colors
                        li.theme-color.theme-color-default.active(data-theme='default')
                            span.theme-color-view
                            span.theme-color-name Dark Header
                        li.theme-color.theme-color-light(data-theme='light')
                            span.theme-color-view
                            span.theme-color-name Light Header
                .col-md-8.col-sm-8.col-xs-12.seperator
                    h3 LAYOUT
                    ul.theme-settings
                        li
                            | Theme Style
                            select.layout-style-option.form-control.input-small.input-sm
                                option(value='square', selected='selected') Square corners
                                option(value='rounded') Rounded corners
                        li
                            | Layout
                            select.layout-option.form-control.input-small.input-sm
                                option(value='fluid', selected='selected') Fluid
                                option(value='boxed') Boxed
                        li
                            | Header
                            select.page-header-option.form-control.input-small.input-sm
                                option(value='fixed', selected='selected') Fixed
                                option(value='default') Default
                        li
                            | Top Dropdowns
                            select.page-header-top-dropdown-style-option.form-control.input-small.input-sm
                                option(value='light') Light
                                option(value='dark', selected='selected') Dark
                        li
                            | Sidebar Mode
                            select.sidebar-option.form-control.input-small.input-sm
                                option(value='fixed') Fixed
                                option(value='default', selected='selected') Default
                        li
                            | Sidebar Menu
                            select.sidebar-menu-option.form-control.input-small.input-sm
                                option(value='accordion', selected='selected') Accordion
                                option(value='hover') Hover
                        li
                            | Sidebar Position
                            select.sidebar-pos-option.form-control.input-small.input-sm
                                option(value='left', selected='selected') Left
                                option(value='right') Right
                        li
                            | Footer
                            select.page-footer-option.form-control.input-small.input-sm
                                option(value='fixed') Fixed
                                option(value='default', selected='selected') Default
    // END THEME PANEL
// END PAGE TOOLBAR
