script(src='/app/dash/modules/main/module.js')
script(src='/app/dash/modules/main/controllers/mainController.js')
script(src='/app/dash/modules/main/controllers/QuickSidebarController.js')
script(src='/app/dash/modules/main/services/mainService.js')
script(src='/app/dash/modules/main/services/dashRootService.js')
script(src='/app/dash/modules/main/services/socketService.js')
script(src='/app/dash/modules/main/directives/mainDirective.js')

script(src='/assets/metronic/global/scripts/app.js')
script(src='/assets/metronic/layouts/layout4/scripts/layout.js')
//-script(src='/assets/metronic/layouts/global/scripts/quick-sidebar.js')
script(src='/assets/metronic/layouts/layout4/scripts/demo.min.js')




