script(src='/build/dash/bundle.js')
script(src='/assets/metronic/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
script(src='/assets/metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='/assets/metronic/global/plugins/jquery.blockui.min.js')
script(src='/assets/metronic/global/plugins/jquery.cokie.min.js')
script(src='/assets/metronic/global/plugins/uniform/jquery.uniform.min.js')
//- Angular plugins start here:

script(src='/assets/metronic/global/plugins/angularjs/plugins/ocLazyLoad.min.js')
script(src='/assets/metronic/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js')
script(src='/assets/metronic/global/plugins/angularjs/plugins/angular-file-upload/angular-file-upload.min.js')

//- utility librarys

script(src='/assets/socketio/socket.io-1.4.5.js')



