script(src='/assets/metronic/global/plugins/jquery.min.js')
script(src='/assets/metronic/global/plugins/jquery-migrate.min.js')
script(src='/assets/metronic/global/plugins/bootstrap/js/bootstrap.min.js')
script(src='/assets/metronic/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
script(src='/assets/metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='/assets/metronic/global/plugins/jquery.blockui.min.js')
script(src='/assets/metronic/global/plugins/jquery.cokie.min.js')
script(src='/assets/metronic/global/plugins/uniform/jquery.uniform.min.js')
//- Angular plugins start here:
script(src='/assets/metronic/global/plugins/angularjs/angular.js')
script(src='/assets/metronic/global/plugins/angularjs/angular-sanitize.min.js')
script(src='/assets/metronic/global/plugins/angularjs/angular-animate.js')
script(src='/assets/metronic/global/plugins/angularjs/angular-resource.min.js')
script(src='/assets/metronic/global/plugins/angularjs/angular-touch.min.js')
script(src='/assets/metronic/global/plugins/angularjs/plugins/angular-ui-router.min.js')
script(src='/assets/metronic/global/plugins/angularjs/plugins/ocLazyLoad.min.js')
script(src='/assets/metronic/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js')

//- utility librarys
script(src='/assets/lodash/lodash.min.js')

