.row
    .col-md-12.col-sm-12
        // BEGIN PORTLET
        .portlet.light.bordered
            .portlet-title
                .caption
                    i.icon-share.font-red-sunglo.hide
                    span.caption-subject.font-red-sunglo.bold.uppercase Revenue
                    span.caption-helper monthly stats...
                .actions
                    .btn-group
                        a.btn.dark.btn-outline.btn-circle.btn-sm.dropdown-toggle(href='', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                            | Filter Range
                            span.fa.fa-angle-down
            .portlet-body
                button.btn.btn-sm.btn-success(ng-click='add()')
                    i.fa.fa-plus
                button.btn.btn-sm.btn-danger(ng-click='delete()')
                    i.fa.fa-minus
                .row
                    .col-lg-3.col-md-3.col-sm-6.dtr_itemwrap(ng-repeat-start='one in viewModel.list')
                        .dtr_item(ng-class='{dtr_bigshadow: hover}', ng-mouseenter='hover=true', ng-mouseleave='hover=false')
                            .dtr_itemtop
                                i.fa.fa-minus.font-red-mint(style='float: right', ng-show='hover', ng-click='delete(one.id)')
                            img(src='https://lh3.googleusercontent.com/gD0sQmzHmaG9m7excJhB3T0cyaqAjrhxU2elCuQ92IKBwY2SpfiSeS6Y3cQJasN83g=w300')
                            .dtr_itemContent
                                | auther: {{one.id}}
                    .clearfix(ng-if='$index %4 == 3')
                    div(ng-repeat-end='')
        // END PORTLET
