// BEGIN PAGE BREADCRUMB
ul.page-breadcrumb.breadcrumb
    li
        a(href='#') Home
        i.fa.fa-users
    li.active  Friend
// END PAGE BREADCRUMB
// BEGIN MAIN CONTENT
// ZJ comment out the  ng-controller="dsb_DashboardController"
div
    .note.note-info
        h3
            | Meet DASH by ZJ!
            span.close(data-close='note')
        p
            | The dash the the app that aims for the deep data mining and visualization platform
        br
        p
            span.label.label-danger
                | NOTE:
            span
                | All Metronic features from the HTML version(pages, layout options, components, plugins, etc) are fully compatible in the AngularJS version.
    // BEGIN DASHBOARD STATS
    .row
