<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-users"></i>
    </li>
    <li class="active"> Friend </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<!-- ZJ comment out the  ng-controller="dsb_DashboardController" -->

<div>
    <div class="note note-info">
        <h3>Meet DASH by ZJ!
            <span class="close" data-close="note"></span>
        </h3>
        <p>
            The dash the the app that aims for the deep data mining and visualization platform
        </p>
        <br>
        <p>
        <span class="label label-danger">
            NOTE:</span>
        <span>
        All Metronic features from the HTML version(pages, layout options, components, plugins, etc) are fully compatible in the AngularJS version.
        </span>
        </p>
    </div>
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">

    </div>

</div>