div.container.dt_sidebar
    .wrapper
        article.screen
            .header
                h1 Date and time
            input#Time(type='checkbox', checked='')
            label.Time(for='Time')
            .dateTime
                .child1
                    h2 Automatic date and time
                    h3 Use network-provided time
                .child2
                    h2 Set date
                    h3 28/02/2016
                .child3
                    h2 Set time
                    h3 09:00
            input#Zone(type='checkbox', checked='')
            label.Zone(for='Zone')
            .timeZone
                .child1
                    h2 Automatic time zone
                    h3 Use network-provided time zone
                .child2
                    h2 Set time zone
                    h3 GMT +01:00
            input#Format(type='checkbox')
            label.Format(for='Format')
            .hourFormat
                .child1
                    h2 Use 24-hour format
                    h3 11:00 PM
                    h4 23:00

