link(href='http://fonts.googleapis.com/css?family=Doppio+One', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Della+Respira', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Days+One', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Bitter', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')