noscript
    #noscripts
        | OOPS!!!
        br
        |   Your browser can't support Javascript and this page,
        br
        |   Please try again by Chrome or Firefox.
        br
        |   You can also enable JavaScript effect.
        br
        |   Sorry About That.
        br
        |   您的浏览器不支持本页面,请换用谷歌浏览器或者火狐浏览器
        br
        |   -Zijian Guo
        br