extends layout
block content
    .row
        .col-md-12.page-404
            .number.font-red  404
            .details
                h3 Oops! You're lost.
                p
                    | We can not find the page you're looking for.
                    br
                    a(href='index.html')  Return home
                    |  or try the search bar below.
                form(action='#')
                    .input-group.input-medium
                        input.form-control(type='text', placeholder='keyword...')
                        span.input-group-btn
                            button.btn.red(type='submit')
                                i.fa.fa-search

