extends layout

block content
    .page-spinner-bar(ng-spinner-bar='')
        .bounce1
        .bounce2
        .bounce3
    .page-header.navbar.navbar-fixed-top(data-ng-include="'/app/dash/modules/main/views/tpl/header.html'", data-ng-controller='HeaderController')
    .clearfix
    .page-container
        .page-sidebar-wrapper(data-ng-include="'/app/dash/modules/main/views/tpl/sidebar.html'", data-ng-controller='SidebarController')
        .page-content-wrapper
            .page-content
                .page-head(data-ng-include="'/app/dash/modules/main/views/tpl/page-head.html'", data-ng-controller='PageHeadController')
                .fade-in-up(ui-view='')
        a.page-quick-sidebar-toggler(href='javascript:;')
            i.icon-login
        .page-quick-sidebar-wrapper(data-ng-include="'/app/dash/modules/main/views/tpl/quick-sidebar.html'", data-ng-controller='QuickSidebarController')
    .page-footer(data-ng-include="'/app/dash/modules/main/views/tpl/footer.html'", data-ng-controller='FooterController')
