extends layout
block homeContent
    #fullMask(data-ismobile='false', style='position:fixed; top:0; left:0; width:100%; height:100%; z-index: 130; background-color: black;padding-top:120px;')
        .circle
        .circle1
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    //-Section menubar
    section#sct_menubar
        img#menubar_img(src='/app/homepage/content/image/logo/ZJguo_americanIdol_mini.png', alt='img')
        #menubar
            ul
                li
                    a(href='#') Skills
                li
                    a(href='#') Track
                li
                    a(href='#') Academic
                li
                    a(href='#') Website
                li
                    a(href='#') Contact
                li
                    a(href='/home/cn')  中文版
                li
                    input#searchBar.topcoat-search-input--large(type='search', value='', placeholder='search', title='Search in page')
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#sct1(data-type='background')
    section#sct1_2
        #sct1_2_text
            h1 Welcome
            p
                | Hi, there. Welcome. This is Zijian's Personal Website.
                | Now I have graduated and got a M.Sc. degree of Electrical Engineering
                | from New York University. Right now I am working as a developer in Midtown Manhattan, NY.
                | This Web is aimed at recording my life and
                | career.To know more, please see my
                a(href='/playground', target='_blank', style='color: white')  Website
                | .
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#sct2.dashboard
        article#skillfont
            h1.skill1 Skills
            br
            h2.skill2 Design and Program
        #sct2_table
            ul.stats
                li
                    table
                        tr
                            td
                                .skill-shortcut-html
                            td
                                h2 HTML5
                                p  HTML5, CSS3
                            td
                                .meter.animate.sizebar
                                    span(style='width: 65%')
                li
                    table
                        tr
                            td
                                .skill-shortcut-jquery
                            td
                                h2 Front-End
                                p  jQ, ng, ko, Ext js
                            td
                                .meter.animate.sizebar
                                    span(style='width: 85%')
                li
                    table
                        tr
                            td
                                .skill-shortcut-ps
                            td
                                h2 Photoshop
                                p  Photoshop
                            td
                                .meter.animate.sizebar
                                    span(style='width: 55%')
                li
                    table
                        tr
                            td
                                .skill-shortcut-oop
                            td
                                h2 Back-End
                                p  .NET(c#), node.js(express)
                            td
                                .meter.animate.sizebar
                                    span(style='width: 70%')
                li
                    table
                        tr
                            td
                                .skill-shortcut-sql
                            td
                                h2 Database
                                p T-SQL, MongoDB
                            td
                                .meter.animate.sizebar
                                    span(style='width: 58%')
                li
                    table
                        tr
                            td
                                .skill-shortcut-fpga
                            td
                                h2 Hardware Program
                                p VHDL, Verilog, ASIC
                            td
                                .meter.animate.sizebar
                                    span(style='width: 60%')
                li
                    table
                        tr
                            td
                                .skill-shortcut-cms
                            td
                                h2 CMS
                                p WordPress, Squarespace
                            td
                                .meter.animate.sizebar
                                    span(style='width: 50%')
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#sct3
        div
            img(src='/app/homepage/content/image/background/img_sct3.png')
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#sct3_1.dashboard
        #sct3_1_info
            h1 Zijian Guo
            p
                | Nationality : P.R China
                br
                |                 Location : Manhattan, NYC.
            button#timelineToggle.topcoat-button--large TimeLine
    //--------------------------------------------------------------------
    //-----section Timeline---------------------------------------------------------------
    section#sctTL
        #timelineContainer
            #tlLoader
                .circle
                .circle1
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#sct6(data-type='background')
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#sct4.dashboard
        #sct4_container
            article#schoolfont
                h1.school1 Education Background
                br
                h2.school2 Academic Information
            table#school-shortcuts(border='0')
                tbody
                    tr
                        td
                            .school-shortcut-nyu
                        td
                            h4.univ-name
                                | New York University
                            p
                                | Polytechnic School of Engineering
                                br
                                | Sep 2012 - May 2014
                                br
                                | M.S. of Electrical Engineering
                    tr
                        td
                            .school-shortcut-cugb
                        td
                            h4.univ-name
                                | China University of Geosciences
                            p
                                | School of Geophysics & Information Technology
                                br
                                | Sep 2008 - Jun 2012
                                br
                                | B.Eng. of Measuring & Control Technology and Instrumentation
                    tr
                        td
                            .school-shortcut-sz
                        td
                            h4.univ-name Shanxi Experimental Secondary School
                            p
                                | Taiyuan, Shanxi
                                br
                                | Sep 2005 - Jul 2008
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#sct5(data-type='background')
        h1.smush-it The PORTAL
        table#sct5_Table(border='0')
            tr
                td
                    a(href='https://code.msdn.microsoft.com/101-LINQ-Samples-3fb9811b')
                        h3 LINQ
                td
                    a(href='http://www.w3schools.com/sql/')
                        h3 T-SQL
                td
                    a(href='#')
                        h3 Data Visualization
            tr
                td
                    a(href='http://api.jquery.com/')
                        h3 jQuery
                td
                    a(href='http://backbonejs.org/')
                        h3 BackBone JS
                td
                    a(href='https://developers.google.com/+/quickstart/javascript')
                        h3 Google API
            tr
                td
                    a(href='https://docs.python.org/2/c-api/')
                        h3 Python
                td
                    a(href='http://getbootstrap.com/')
                        h3 Bootstrap
                td
                    a(href='#')
                        h3 Data Structure
            tr
                td
                    a(href='#')
                        h3 MVC
                td
                    a(href='http://www.oracle.com/technetwork/java/javaee/overview/index.html')
                        h3 Java EE
                td
                    a(href='http://knockoutjs.com/documentation/introduction.html')
                        h3 Knockout
            tr
                td
                    a(href='http://www.mysql.com/')
                        h3 mySQL
                td
                    a(href='https://github.com/')
                        h3 GitHub
                td
                    a(href='http://stackoverflow.com/')
                        h3 StackOverFlow
            tr
                td
                    a(href='http://msdn.microsoft.com/en-us/vstudio/aa496123.aspx')
                        h3 .NET
                td
                    a(href='http://www.w3schools.com/html/html5_intro.asp')
                        h3 HTML5
                td
                    a(href='https://www.jetbrains.com/')
                        h3 JetBrains
            tr
                td
                    a(href='http://www.sencha.com/products/extjs/')
                        h3 Ext JS
                td
                    a(href='https://docs.angularjs.org/api?PHPSESSID=cae8e98e7ca559b4605d75c813b358ee')
                        h3 Angular JS
                td
                    a(href='#')
                        h3 Algorithm
    //--------------------------------------------------------------------
    //--------------------------------------------------------------------
    section#msgboard.dashboard
        #switchContainer
            .switch
                input#MsgSwitch.switch-check(type='checkbox')
                label.switch-label(for='MsgSwitch')
                    | Check
                    span
        #social-icon
            //---------
            ul#contact-shortcuts
                li
                    a.contact-shortcut-linkedin.btnGrayScale(target='_blank', title='LinkedIn', href='http://www.linkedin.com/profile/view?id=268116945')
                li
                    a.contact-shortcut-google.btnGrayScale(target='_blank', title='Google+', href='https://plus.google.com/u/1/105749580437093457132/posts')
                li
                    a.contact-shortcut-weibo.btnGrayScale(target='_blank', title='Sina Weibo', href='http://www.weibo.com/111581118')
                li
                    a.contact-shortcut-facebook.btnGrayScale(target='_blank', title='Facebook', href='https://www.facebook.com/zijian.guo.7')
                li
                    a.contact-shortcut-youtube.btnGrayScale(target='_blank', title='Youtube', href='https://www.youtube.com/channel/UCR4kMj-01Y-oKRVl5r_emeQ')
                li
                    a.contact-shortcut-zhihu.btnGrayScale(target='_blank', title='zhihu', href='http://www.zhihu.com/people/chinaNBA')
            div(style='clear: both')
            //---------
            a#contactAddr-shortcuts(href='#', target='_blank')
            h4
                a(href='#') Designed by Zijian Guo, www.GuoZJ.com
        #MsgContainer.msgclass
            h4 Message Board
            form
                input#MsgName.topcoat-text-input--large(type='text', value='', placeholder='Your Name')
                br
                br
                textarea#MsgContent.topcoat-textarea(rows='6', cols='50', placeholder='Drop Me a Line')
                br
                br
                button#sumbitMsgBtn.topcoat-button--large(title='Sending Email is prefered and reliable!') Submit
                button#likebtn.topcoat-button--large--cta +1
            span#MsgFail.topcoat-notification Empty Error
            span#MsgSuccess.topcoat-success Thanks
            #ajaxLoader
                .circle
                .circle1
    section#map-canvas
