extends layout

block content1
    div(ng-include="build/datetree/views/head.html")
    div(ng-include="build/datetree/views/sidebar.html")
    div(ng-include="build/datetree/views/quickbar.html")
    div(ng-include="build/datetree/views/footer.html")
    div(ui-view)