extends layout

block content1
    .maincontainer
        .div(ui-view='')
    nav#bt-menu.bt-menu
        a.bt-menu-trigger(href='#')
            span Menu
        ul
            li
                a.bt-icon.fa.fa-users(href='#/people',title="People")
            li
                a.bt-icon.fa.fa-paper-plane(href='#/chat',title="Chat")
            li
                a.bt-icon.fa.fa-search(href='#/search',title="Search")
            li
                a.bt-icon.fa.fa-paw(href='#/profile',title="Profile") Profile
            li
                a.bt-icon.fa.fa-share-alt(href='#/share',title="Share")
