doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml' ng-app="app")
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(http-equiv='Content-Type', content='cache')
        meta(name='robots', content='INDEX,FOLLOW')
        meta(name='robots', content='noimageindex')
        meta(name='keywords', content='ZJ Guo, zijian guo, zijianguo, guozijian, zj, guozj, zjguo, ZJ Guo NYU, zijian guo NYU, zijianguo NYU, guozijian NYU, zj NYU, guozj NYU, zjguo NYU, 郭子剑')
        meta(name='description', content="ZJ Guo's personal website. 郭子剑来自山西太原，2014年毕业于美国纽约大学，热爱编程，目前从事WEB开发，欢迎访问。")
        meta(name='google-site-verification', content='7opgGf9pWZivNXvF017t2ran4UgLVZnQxpCVo6cH9IY')
        title Dash: online Data Visual
        link(rel='shortcut icon', href='/content/dash/icon/favicon.ico')
        include include/reference

    body(ng-controller="mainController")
        block content1



