.container-fluid
    .row
        .col-lg-3.col-md-3.col-sm-4.col-xm-6(ng-repeat="onebox in boxlist")
            .pplBox
                figure
                    img(src='{{onebox.imgUrl}}')
                    figcaption
                        h3.text-left
                            i.fa(ng-class='{"fa-mars boycolor": onebox.isMale==1, "fa-venus girlcolor":onebox.isMale==0}')
                            |{{onebox.name}}

                        h4.text-right
                            i.fa.fa-thumbs-o-up.text-success
                            i.fa.fa-thumbs-o-up.text-info
                            i.fa.fa-thumbs-o-up.text-warning

