.container-fluid
    .row
        .col-lg-3.col-md-3.col-sm-4.col-xm-6(ng-repeat="onebox in boxlist")
            .pplBox
                figure
                    img(src='{{onebox.imgUrl}}')
                    figcaption
                        h3.text-left
                            i.fa(ng-class='{"fa-mars boycolor": onebox.isMale==1, "fa-venus girlcolor":onebox.isMale==0}')
                            |{{onebox.name}} ({{onebox.age}})



                        h4.text-right
                            i.fa.fa-heart.text-danger(ng-click="like(onebox.id)")
                            i.fa.fa-thumbs-o-up.text-info(ng-click="like(onebox.id)")
                            i.fa.fa-thumbs-o-up.fa-rotate-180.text-success(ng-click="dislike(onebox.id)")
                            i.fa.fa-user-plus.text-warning(ng-click="add(onebox.id)")
                            i.fa.fa-paper-plane.text-info(ng-click="msg(onebox.id)")

