div.peoplelist
    ul.grid.cs-style-3
        li
            figure
                img(src='http://tympanus.net/Tutorials/CaptionHoverEffects/images/2.png', alt='img03')
                figcaption
                    h3 Settings
                    span Jacob Cummings
                    a(href='http://dribbble.com/shots/1116685-Settings') Take a look
        li
            figure
                img(src='http://tympanus.net/Tutorials/CaptionHoverEffects/images/2.png', alt='img01')
                figcaption
                    h3 Camera
                    span Jacob Cummings
                    a(href='http://dribbble.com/shots/1115632-Camera') Take a look
        li
            figure
                img(src='http://tympanus.net/Tutorials/CaptionHoverEffects/images/2.png', alt='img02')
                figcaption
                    h3 Music
                    span Jacob Cummings
                    a(href='http://dribbble.com/shots/1115960-Music') Take a look
        li
            figure
                img(src='http://tympanus.net/Tutorials/CaptionHoverEffects/images/2.png', alt='img04')
                figcaption
                    h3 Safari
                    span Jacob Cummings
                    a(href='http://dribbble.com/shots/1116775-Safari') Take a look
        li
            figure
                img(src='http://tympanus.net/Tutorials/CaptionHoverEffects/images/2.png', alt='img05')
                figcaption
                    h3 Phone
                    span Jacob Cummings
                    a(href='http://dribbble.com/shots/1117308-Phone') Take a look
        li
            figure
                img(src='http://tympanus.net/Tutorials/CaptionHoverEffects/images/2.png', alt='img06')
                figcaption
                    h3 Game Center
                    span Jacob Cummings
                    a(href='http://dribbble.com/shots/1118904-Game-Center') Take a look
