//- stylesheet section start
link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
link(href='/assets/metronic/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='/assets/metronic/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
//-link(href='/assets/metronic/global/plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')

link(href='/assets/metronic/global/css/components.min.css', rel='stylesheet', type='text/css')
//-link(href='/assets/metronic/global/css/plugins.min.css', rel='stylesheet', type='text/css')
link(href='/assets/metronic/pages/css/login-2.min.css', rel='stylesheet', type='text/css')
//- javascript section start
script(src='/assets/metronic/global/plugins/jquery.min.js')
script(src='/assets/metronic/global/plugins/jquery-validation/js/jquery.validate.min.js')
script(src='/assets/metronic/pages/scripts/login.min.js')
