link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
link(href='build/datetree/asset/metronic/components.css', rel='stylesheet', type='text/css')
link(href='build/datetree/asset/metronic/layout.css', rel='stylesheet', type='text/css')
link(href='build/datetree/style/global.css', rel='stylesheet', type='text/css')

script(src='/build/datetree/js/lib1.js')
script(src='/build/datetree/js/app.js')