link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')

link(href='build/datetree/css/style1.css', rel='stylesheet', type='text/css')
link(href='build/datetree/css/style2.css', rel='stylesheet', type='text/css')

script(src='/build/datetree/js/lib1.js')
script(src='/build/datetree/js/app.js')