link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
link(href='build/datetree/asset/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='build/datetree/asset/animate-css/animate.css', rel='stylesheet', type='text/css')
link(href='build/datetree/asset/metronic/components.css', rel='stylesheet', type='text/css')
link(href='build/datetree/asset/metronic/layout.css', rel='stylesheet', type='text/css')
link(href='build/datetree/asset/bootstrap-3.3.6/css/bootstrap.min.css', rel='stylesheet', type='text/css')
link(href='build/datetree/style/global.css', rel='stylesheet', type='text/css')



