.container-fluid
    .row
        .col-lg-2.col-md-2
        .col-lg-8.col-md-8
            .panel.panel-default
                .panel-heading
                    h3
                        | doing some thing function
                .panel-body
                    .chatContainer
                        p.datestamp May 20, 2014, 4:16 PM
                        .bubble(ng-class="{'bubble-alt': onemsg.me, 'white': onemsg.me}", ng-repeat="onemsg in msglist")
                            p
                                |{{onemsg.msg}}
                        #bottomTxt.bubble(style={visibility: "hidden"})
                .panel-footer
                    .input-group
                        input.form-control(type="text", placeholder="Send message here.", ng-model="inputMsg", ng-keypress="sendKey($event)")
                        span.input-group-btn
                            button.btn.btn-primary(type="button", ng-click="send()")
                                |Send
        .col-lg-2.col-md-2
