.container-fluid
    .row
        .col-lg-8.col-md-8.col-sm-12
            .chatContainer
                p.datestamp May 20, 2014, 4:16 PM
                .bubble
                    p Hey how's it going?
                .bubble.bubble-alt.green
                    p Just sending out random SMS to people
                .bubble
                    p Cool, cool.
                .bubble
                    p Sometimes I do that too. Like right now.
                .bubble.bubble-alt.white
                    p
                        | So how's life? Anything interesting? I'm okay just hanging around doing nothing staring out the window, thinking I should go outside but eh.
                .bubble.pink
                    p Yeah sweet bro. Today I'm feeling pink.
                .bubble.bubble-alt.yellow
                    p I'm kinda going yellow today.
                .bubble.bubble-alt.red
                    p No wait red.
                p.datestamp May 20, 2014, 4:16 PM
                .bubble
                    p Hey how's it going?
                .bubble.bubble-alt.green
                    p Just sending out random SMS to people
                        | So how's life? Anything interesting? I'm okay just hanging around doing nothing staring out the window, thinking I should go outside but eh.
                        | So how's life? Anything interesting? I'm okay just hanging around doing nothing staring out the window, thinking I should go outside but eh.
                .bubble
                    p Cool, cool.
                .bubble
                    p Sometimes I do that too. Like right now.
                .bubble.bubble-alt.white
                    p
                        | So how's life? Anything interesting? I'm okay just hanging around doing nothing staring out the window, thinking I should go outside but eh.
                .bubble.pink
                    p Yeah sweet bro. Today I'm feeling pink.
                .bubble.bubble-alt.yellow
                    p I'm kinda going yellow today.
                .bubble.bubble-alt.red
                    p No wait red.
        .col-lg-4.col-md-4.col-sm-12
            | this is user list 1
