

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Profile</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions
                        </label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter text" ng-model="user.name">
                                <span class="help-block"> Shown public </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">Email Address</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email Address" disabled="" ng-model="user.email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Password">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   ng-class="{'font-green-sharp' : availRadio = 1, 'font-red-mint': availRadio = 0, 'text-warning' : availRadio = 2}">Availability</label>
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-model="user.availability" uib-btn-radio="1" uncheckable>Available</label>
                                    <label class="btn btn-default" ng-model="user.availability" uib-btn-radio="2" uncheckable>Maybe</label>
                                    <label class="btn btn-default" ng-model="user.availability" uib-btn-radio="0" uib-uncheckable>Unavailable</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">gender</label>
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-model="user.gender" uib-btn-radio="0" uncheckable>
                                        <i class="fa fa-venus"></i>
                                    </label>
                                    <label class="btn btn-default" ng-model="user.gender" uib-btn-radio="1" uncheckable>
                                        <i class="fa fa-mars"></i>
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">Date of Birth</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-icon">
                                        <i class="fa fa-lock fa-fw"></i>
                                        <input class="form-control" type="date" ng-model="user.dob"/>
                                    </div>
                                    {{user.dob}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>